
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Assistant:wght@200&family=Corinthia:wght@700&family=Cormorant+Garamond:wght@300&family=Kalam:wght@300&family=Oswald:wght@200&family=Poppins&family=Tajawal:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins";
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #b0253c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
   

}
.container h2{
    font-size: 2rem;
    color: aliceblue;
}

.container h4{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: antiquewhite;
}

input{
    width: 27rem;
    padding: 1.2rem;
    outline: none;
    border: none;
    border-radius: 10rem;
    margin-top: 2rem;

}

::placeholder{
    font-weight: bolder;
    color: black;
    font-size: 1rem;
    margin-left: 2rem;
    font-family: "Poppins";
}
/* 
.btn{
    padding: 0.9rem 2rem;
    border: none;
    background-color: black;
    color: white;
    font-family: "Oswald";
    font-size: 1rem;
    border-radius: 3px;
    
  
  cursor: pointer;
} */